table {
    border-collapse: collapse;
    width: 60%;
    text-align: left;
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
table, td, th {
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 5px;
}
th {
    background-color: lightgrey;
    font-weight: bold;
    }
tr {
    height: 2.5rem;
    padding-left: 1rem;
}
.grey-color {
    background-color: lightgrey;
    font-weight: bold;
}